# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.emm_abgabe.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ronny\Documents\Projects\emm_abgabe\.idea\.idea.emm_abgabe\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
